@import "tailwindcss";

body {
    margin: 0;
}
    .nav-header {
        position: sticky;
        top: 0;
        /* z-index: 100; */
    }

    .hero-section {
        background-image: url("/images/camera.png");
        background-size: cover;
        background-position: center; /* Sinisiguro na laging nasa gitna ang focus */
        background-repeat: no-repeat;
        min-height: 100vh; /* Para sakop ang buong screen */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-page .nav-header {
        display: none !important;
    }

/* Marquee Animation */
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    animation: marquee 30s linear infinite;
}