@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import "tailwindcss";

:root {
    /* Optional: para madaling gamitin sa ibang parts */
    --font-serif: 'DM Serif Display', serif;
}

html {
  scroll-behavior: smooth;
  /* font-family: var(--font-serif); */
}

    body {
    margin: 0;
    background-color: black;
    }

        .hero-section {
        background-image: linear-gradient(to right, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.2) 100%), 
                            url("/images/camera.png");
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; /* Parallax effect para sa extra smoothness */
        }
            .dm-serif {
                font-family: var(--font-serif);
            }

        /* Button glow effect */
        button:hover {
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
            transform: translateY(-2px);
        }


